<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vless Info</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>
<body>
<h1>Vless Info</h1>
<div class="container">
    <div class="form-group" style="display: flex; align-items: center;">
        <label for="instanceName" style="margin-right: 10px;">Instance Name:</label>
        <input type="text" id="instanceName" name="instanceName" maxlength="22" pattern="[a-zA-Z0-9_]{22}" required style="margin-right: 10px;">
        <button id="fetchInfoButton">Fetch Info</button>
    </div>
    <div id="error-message" class="error-message"></div>
    <div id="node-info-container" class="node-info-container"></div>
</div>
<div id="copy-message" class="copy-message">URL info copied to clipboard</div>

<script>
    document.getElementById('fetchInfoButton').addEventListener('click', fetchNodeInfo);

    function fetchNodeInfo() {
        const instanceName = document.getElementById("instanceName").value;
        const errorMessage = document.getElementById("error-message");
        const nodeInfoContainer = document.getElementById("node-info-container");

        // Clear previous results and error messages
        errorMessage.textContent = "";
        nodeInfoContainer.innerHTML = "";

        // Validate input
        const regex = /^[a-zA-Z0-9_]{22}$/;
        if (!regex.test(instanceName)) {
            errorMessage.textContent = "Instance Name must be exactly 22 alphanumeric characters.";
            return;
        }

        // Fetch data from API
        $.ajax({
            url: `/api/v1/getNodeInfo`,
            method: 'GET',
            data: { instanceName: instanceName },
            success: function(data) {
                if (data.returnFlg !== 0) {
                    errorMessage.textContent = data.returnMSG;
                    return;
                }
                renderNodeInfo(data.nodeInfo);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                errorMessage.textContent = "An error occurred while fetching data: " + textStatus + ", " + errorThrown;
            }
        });
    }

    function renderNodeInfo(nodeInfo) {
        const nodeInfoContainer = document.getElementById("node-info-container");
        const nodeInfoHtml = `
            <div class="node-info">
                <p>ID: <span>${nodeInfo.URL_ID}</span></p>
                <p>URL Info: <span>${nodeInfo.URL_IPV4}</span></p>
                <button onclick="copyToClipboard('${nodeInfo.URL_IPV4}')"><i class="fas fa-copy"></i> Copy URL Info</button>
                <button id="toggleQRCodeButton-${nodeInfo.URL_ID}" onclick="toggleQRCode('${nodeInfo.URL_IPV4}', '${nodeInfo.URL_ID}')"><i class="fas fa-qrcode"></i> Generate QR Code</button>
                <div id="qrcode-${nodeInfo.URL_ID}" class="qrcode" style="display: none;"></div>
                <p>Create Time: <span>${nodeInfo.CREATE_DATETIME}</span></p>
                <p>Region: <span>${nodeInfo.REGION}</span></p>
            </div>
            <hr/>
        `;
        nodeInfoContainer.innerHTML = nodeInfoHtml;
    }

    function copyToClipboard(text) {
        if (navigator.clipboard) {
            navigator.clipboard.writeText(text).then(() => {
                showCopyMessage();
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        } else {
            // Fallback for browsers that do not support navigator.clipboard
            const tempInput = document.createElement("textarea");
            tempInput.value = text;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            showCopyMessage();
        }
    }

    function showCopyMessage() {
        const messageElement = document.getElementById('copy-message');
        messageElement.classList.add('show');
        setTimeout(() => {
            messageElement.classList.remove('show');
        }, 3000);
    }

    function toggleQRCode(text, id) {
        const qrcodeDiv = document.getElementById('qrcode-' + id);
        const toggleButton = document.getElementById('toggleQRCodeButton-' + id);

        if (qrcodeDiv.style.display === 'none') {
            qrcodeDiv.style.display = 'block';
            toggleButton.textContent = 'hide qrcode';
            new QRCode(qrcodeDiv, {
                text: text,
                width: 128,
                height: 128
            });
        } else {
            qrcodeDiv.style.display = 'none';
            toggleButton.textContent = 'show qrcode';
            qrcodeDiv.innerHTML = ""; // Clear previous QR code
        }
    }
</script>
</body>
</html>
